{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sketchdaily Gesture/Figure Drawing</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />

</head>
<body id="mainPageBody">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">r/SketchDaily References</a>

        </div>
    </div>
</div>
<div id="homediv" class="container">
<div class="row">
<div class="span12 well">

    <h4>Send Feedback</h4>
    <a href="mailto:artomizer@sketchdaily.net">Contact us</a> if:
    <ul>
        <li>You find a bug</li>
        <li>You have an idea to make the site better</li>
        <li>You're bored</li>
    </ul>

    <a href="http://webchat.freenode.net/?channels=Sketchdaily">You can also come chat on IRC!</a><br/>
    chat.freenode.net<br/>
    #sketchdaily<br/>

    <br/>


    <h4>Fix Bugs/Add Features</h4>

    If you're handy with python/javascript/css feel free to take a look at the code on <a href="https://github.com/faintpixel/SketchDaily-GestureDrawing">github.</a><br/>
    <br/>
    <a href="https://trello.com/b/vynO3KO3/reference-site">Take a look at our to do list to see what needs doing</a>, or add something we haven't even thought of yet!<br/><br/>

    Contact <a href="mailto:artomizer@sketchdaily.net">Artomizer</a> or DavidWinters on IRC if you need a hand getting started.

    <br/><br/>


    <h4>Find More Images</h4>
    We're always in need of more images for the site, but there are a couple important criteria that must be met:<br/>
    <ul>
        <li>Images must be appropriately licensed.</li>
        <li>Images must be high quality and a decent resolution.</li>
    </ul>

    If you've found or taken pictures that meet the above criteria <a href="mailto:artomizer@sketchdaily.net">let us know</a> and we can add it to the data entry backlog.



    <br/><br/>

    <h4>Data Entry</h4>
    When new images are found they must be uploaded, categorized, and attributed. It's pretty tedious work, but the site wouldn't exist without this data.<br/>
    We currently have a pretty big backlog of images ready to be uploaded, so if you'd like to help please contact <a href="mailto:artomizer@sketchdaily.net">Artomizer</a>, who will be your best friend forever.
<br/><br/>

    Thanks for looking!

</div>
</div> <!-- span4 -->
</div> <!-- row -->
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40311949-1', 'sketchdaily.net');
    ga('send', 'pageview');

</script>