<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sketchdaily Gesture/Figure Drawing</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />

</head>
<body id="mainPageBody">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">r/SketchDaily References</a>

        </div>
    </div>
</div>
<div id="homediv" class="container">
<div class="row">
<div class="span12 well">
    <b>November 17 2013</b>
    <ul>
        <li>Added an option to only use the most recent images for the full body section.</li>
    </ul>
    <b>November 15 2013</b>
    <ul>
        <li>Enabled 'heads' in the body parts section and fixed the filtering.</li>
        <li>Added 'terms of use' to image info section in preparation for another big data upload.</li>
    </ul>
    <b>July 29 2013</b>
    <ul>
        <li>Now displays how many images match the selected criteria (Thanks David!)</li>
    </ul>
    <b>July 23 2013</b>
    <ul>
        <li>Fixed filtering in the animals section.</li>
    </ul>
    <b>July 1st 2013</b>
    <ul>
        <li>Fixed layout for small screens (hopefully).</li>
        <li>Added 'how you can help' page.</li>
        <li>Timer doesn't start until image is fully loaded now.</li>
    </ul>
    <b>June 9th 2013</b>
    <ul>
        <li>Images now begin to fade at the 5 second mark.</li>
        <li>Removed head/feet options from the body parts section since we don't have any images yet.</li>
        <li>Added categories for animals (living and skeletons/bones). Will be adding animal pictures over the next little while.</li>
    </ul>

</div>
</div> <!-- span4 -->
</div> <!-- row -->
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40311949-1', 'sketchdaily.net');
    ga('send', 'pageview');

</script>