<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sketchdaily Gesture/Figure Drawing</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="#">r/SketchDaily References</a>

        </div>
    </div>
</div>
    <div id="homediv" class="container">
        <div class="row">
            <div class="span7">
                 <h1>Hello!</h1>
                <h3>Welcome to the SketchDaily reference doohickey. </h3>
                <h4>Looking for something else to draw? <a href="http://www.reddit.com/r/sketchdaily/">Join the fun!</a></h4>
            </div>
        <div class="span4 well">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fullBody" data-toggle="tab">Full Body</a></li>
            <li><a href="#bodyParts" data-toggle="tab">Body Parts</a></li>
            <li><a href="#animals" data-toggle="tab">Animals</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="fullBody">
                <form action="/startSession" method="get">
                    Gender:<br/>
                    <select name="gender">
                        <option value="">Both</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <br/>

                    Clothing:<br/>
                    <select name="clothing">
                        <option value="">Both</option>
                        <option value="1">Clothed</option>
                        <option value="2">Nude</option>
                    </select>
                    <br/>
                    Pose:<br/>
                    <select name="pose">
                        <option value="">Both</option>
                        <option value="1">Action</option>
                        <option value="2">Stationary</option>
                    </select>
                    <br/>

                    View:<br/>
                    <select name="view">
                        <option value="">All</option>
                        <option value="1">Front</option>
                        <option value="2">Side</option>
                        <option value="3">Back</option>
                    </select>

                    <br/>

                    Time:<br/>
                    <select name="time" id="time">
                        <option value="0:30">30 seconds</option>
                        <option value="1:00">1 minute</option>
                        <option value="2:00">2 minutes</option>
                        <option value="5:00">5 minutes</option>
                        <option value="10:00">10 minutes</option>
                    </select>
                    <br/><br/>

                    <label class="checkbox">
                        <input type="checkbox" value="">
                        Group drawing session
                    </label>
                    <br/><br/>

                    <input type="hidden" name="imageType" value="fullBodies"/>
                    <button class="btn btn-primary btn-block" type="submit">Start</button>
                </form>
            </div>







            <div class="tab-pane" id="bodyParts">
                <form action="/startSession" method="get">
                    Part:<br/>
                    <select name="part">
                        <option value="">All</option>
                        <option value="1">Hands</option>
                        <option value="2">Feet</option>
                        <option value="3">Heads</option>
                    </select>
                    <br/>

                    Gender:<br/>
                    <select name="gender">
                        <option value="">Both</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                   <br/>

                    View:<br/>
                    <select name="view">
                        <option value="">All</option>
                        <option value="1">Front</option>
                        <option value="2">Side</option>
                        <option value="3">Back</option>

                    </select>

                    <br/>

                    Time:<br/>
                    <select name="time" id="time">
                        <option value="0:30">30 seconds</option>
                        <option value="1:00">1 minute</option>
                        <option value="2:00">2 minutes</option>
                        <option value="5:00">5 minutes</option>
                        <option value="10:00">10 minutes</option>
                    </select>
                    <br/><br/>

                    <label class="checkbox">
                        <input type="checkbox" value="">
                        Group drawing session
                    </label>
                    <br/><br/>

                    <input type="hidden" name="imageType" value="bodyParts"/>
                    <button class="btn btn-primary btn-block" type="submit">Start</button>
                </form>
            </div>






            <div class="tab-pane" id="animals">
                <form action="/startSession" method="get">
                    <label>Type:</label>
                    <select name="species">
                        <option value="">All</option>
                        <option value="1">Bird</option>
                        <option value="2">Fish</option>
                        <option value="3">Reptile/Amphibian</option>
                        <option value="3">Bug</option>
                        <option value="3">Mammal</option>
                    </select>

                    <br/>

                    <label>View:</label>
                    <select name="view">
                        <option value="">All</option>
                        <option value="1">Front</option>
                        <option value="2">Side</option>
                        <option value="3">Back</option>

                    </select>

                    <br/>

                    <label>Time:</label>
                    <select name="time" id="time">
                        <option value="0:30">30 seconds</option>
                        <option value="1:00">1 minute</option>
                        <option value="2:00">2 minutes</option>
                        <option value="5:00">5 minutes</option>
                        <option value="10:00">10 minutes</option>
                    </select>
                    <br/><br/>

                    <label class="checkbox">
                        <input type="checkbox" value="">
                        Group drawing session
                    </label>
                    <br/><br/>

                    <input type="hidden" name="imageType" value="animals"/>
                    <button class="btn btn-primary btn-block" type="submit">Start</button>
                </form>

            </div>
        </div>
        </div> <!-- span4 -->
        </div> <!-- row -->
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>