html
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
    color: slategrey;
    margin: 0;
    padding: 0;
}
#homediv{
    padding-top:60px;
}
#photoInfo
{
    position: absolute;
}

#timer
{
    width: 75px;
}

.hidden
{
    display: none;
}

#referenceImage
{
    width: 100%;
    text-align: center;
    margin-top:60px;
}

#image
{
    max-width: 100%;
    max-height: 90%;
}
#about{
    display:none;
}

#mainPageBody
{
    background-image:url('/static/background.jpg');
}

#news
{
    margin-top: 40px;
}
#news h1
{
    font-size: 12pt;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#contactUs
{
    font-size: 8pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media all and (max-width: 560px)
{
    #pageTitle
    {
        display:none;
    }

    #controls
    {
        float: left;
        margin-left: 15px;
    }
}

@media all and (max-width: 960px)
{
    #headerbar
    {
        width: 100%;
    }

    #controls
    {
        position: relative !important;
        left: -15px !important;
    }

    .brand
    {
        margin: 0px !important;
    }

}